.signup{
    border-bottom: 1px solid lightblue;
    font-weight: 600;
    color: teal;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .head {
      display: none;
    }
  }
  